extends /_layout

block head
    title= config.title
    meta(name='description' content="hideo54's Blog.")

block main
    h2 Recent articles
    ul.articles
        each article in recent
            li: a(href=`/archives/${article.number}`)= article.title
        
