extends /_layout

block head
    title= config.title
    meta(name='description' content="hideo54's Blog.")

block main
    section.recent
        if recent.length !== 0
            h2 Recent articles
            ul
                each article in recent
                    li: a(href=`/archives/${article.number}`)= article.title
        
