h1, p, li {
    font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
}

a {
    text-decoration: none;
    color: green; // tmp
}

header {
    h1.title, p.caption {
        text-align: center;
    }
}

main {
    max-width: 800px;
    margin: 0 auto;
    .center {
        text-align: center;
    }
}

footer {
    max-width: 800px;
    margin: 0 auto;
    ul {
        padding-left: 0;
        line-height: 2em;
        li {
            list-style: none;
        }
    }
}
