h1, p, li {
    font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: green; // tmp
}

main {
    max-width: 800px;
    margin: 0 auto;
    hr {
        width: 80%;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    ul {
        padding-left: 0;
        line-height: 2em;
        li {
            list-style: none;
        }
    }
}
